# Pandas: Series, Data Frames and Time Series

Pandas is -similar to NumPy- another library offering high-level data structures, which enable fast data analyzis. For us, the most important are probably the types `Series` and `DataFrame`, both of which are introduced in the following.  

This tutorial is based on the [intro to Pandas:](http://pandas.pydata.org/pandas-docs/stable/10min.html)

# TOC

- Pandas
  - Loading and reading data
  - Series
    - 1 dimensional data structure
  - DataFrame
    - 2 dimensional data structure
    - `pandas.DataFrame( data, index, columns, dtype, copy)`
    - columns can be of different types
    - data can be lists, dicts, maps, ndarrays.

## Initialising`pandas`,`numpy` and `matplotlib`

In [ ]:
%pylab inline 
# %pylab is a magic function in ipython, and triggers the import of various modules within Matplotlib

#### Above magic function equals
```python
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
```
Magic function: `%matplotlib inline` is to show plots directly below code as part of the notebook.


## Pandas vs Numpy
1. In pandas we have 1D Series and 2D DataFrame in numpy we have multi dimensional ndArrays
2. In DataFrame we have column names (like in sql) in ndArrays we have data slicing based in indices
3. In DataFrame we can have multiple datatypes in different columns
  
![](images/pandas_vs_numpy.png)

## Why do we need pandas
Source: Python for data analysis

###  data preparation: 
- loading, 
- visualizing (in dataframes)
- cleaning, 
- transforming, and 
- rearranging

pandas, along with the built-in Python language features, provides us with a high-level, flexible, and fast set of tools, so we can manipulate data into the form we need it in.

### Common tasks:
- Handling missing data
  - Filtering out missing data
  - Filling in missing data
- Data transformation
  - Removing dublicates
  - Transforming Data Using a Function or Mapping
  - Replacing Values
  - Renaming Axis Indexes
  - Discretization and Binning
  - Detecting and Filtering Outliers
  - Permutation (randomly reordering) and Random Sampling
  - create indicator (or dummy) variables
- String manipulation
  - Regular Expressions

### Missing data
|Method|Description|
|--|--|
| dropna | Filter axis labels based on whether values for each label have missing data, with varying thresholds for how much missing data to tolerate. |
| fillna | Fill in missing data with some value or using an interpolation method such as 'ffill' or 'bfill'. |
| isnull | Return boolean values indicating which values are missing/NA. |
| notnull | Negation of isnull. |

### String manipulation 

|String method|Description|
|--|--|
|count | Return the number of non-overlapping occurrences of substring in the string. |
|endswith | Returns True if string ends with suffix. |
|startswith | Returns True if string starts with prefix. |
|join | Use string as delimiter for concatenating a sequence of other strings. |
|index | Return position of first character in substring if found in the string; raises ValueError if not found. |
|find | Return position of first character of first occurrence of substring in the string; like index, but returns –1 |
|rfind | if not found. |
|replace | Return position of first character of last occurrence of substring in the string; returns –1 if not found. |
|strip, | Replace occurrences of string with another string. |
|rstrip, | Trim whitespace, including newlines; equivalent to x.strip() (and rstrip, lstrip, respectively) |
|lstrip | for each element. |
|split | Break string into list of substrings using passed delimiter. |
|lower | Convert alphabet characters to lowercase. |
|upper | Convert alphabet characters to uppercase. |
|casefold | Convert characters to lowercase, and convert any region-specific variable character combinations to a |
|ljust, | common comparable form. |
|rjust | Left justify or right justify, respectively; pad opposite side of string with spaces (or some other fill character) to return a string with a minimum width. |

### Import as pd
Makes code easier to read if we follow the convention of other programmers

In [ ]:
import pandas as pd

## Learning a new framework

1. Study the API
  * https://pandas.pydata.org/pandas-docs/stable/reference/index.html

## Getting data with Pandas

https://pandas.pydata.org/pandas-docs/stable/reference/io.html

```python
pd.read_csv(...)
```

In [ ]:
!head data/befkbhalderstatkode.csv

In [ ]:
df = pd.read_csv('data/befkbhalderstatkode.csv')
df.head()

### columns in the dataframe

In [ ]:
df.columns

In [ ]:
type(df)

* What is the dimensionality of the dataframe?

In [ ]:
df.shape

### Getting a column of data by name:
What data type is the column?
```python
df['ALDER']
```

In [ ]:
print('Data type of a column',type(df['ALDER']),'\n')
print('All ages in the dataset',set(df['ALDER']))
df['ALDER']

### Slicing a column of data by index

In [ ]:
print(type(df.iloc[:,0]))
df.iloc[:,0] # all rows of first column: same as df['AAR']

### Slicing a row of data by index
Notice how we get a Series object with **labels** being the column names

In [ ]:
first_row = df.iloc[0,:] # or just df.iloc[0]
print(type(first_row))
first_row

In [ ]:
first_row['AAR']

* Get the second element of the third column using the `iloc` method

In [ ]:
# iloc (integer location method)
col = 0
row = 1
df.iloc[row][col]

In [ ]:
# with loc
print(df.index)
print(first_row.index)

In [ ]:
# dataframe 3x2
test = pd.DataFrame([[1, 2], [4, 5], [7, 8]],index=['cobra', 'viper', 'sidewinder'],columns=['max_speed', 'shield'])
print(test)
print('\n')
print(test.index)
print('sidewinders max speed is {}'.format(test.loc['sidewinder','max_speed']))
test

## 01 Class exercise slicing dataframe
Use this data:
```python
data = np.array([['','Col1','Col2','col3'],
                ['Row1',1,2,3],
                ['Row2',4,5,6],
                ['Row3',7,8,9]])
```
1. Create a DataFrame (wrap the data above in a pandas DataFrame in a way that printing the dataframe and its index and column attributes gives this result)  
`pd.DataFrame(data=data[1:4,1:4], columns=data[0,1:4], index=data[1:4,0])`  

``` 
     Col1 Col2 col3  
Row1    1    2    3
Row2    4    5    6
Row3    7    8    9

Index(['Row1', 'Row2', 'Row3'], dtype='object')
Index(['Col1', 'Col2', 'col3'], dtype='object')
```

2. Make slices of data:
   1. second column using column name
   2. third column using column index (.iloc[])
   3. slice element at third row of second column (use .iloc())

In [ ]:
data = np.array([['','Col1','Col2','col3'],
                ['Row1',1,2,3],
                ['Row2',4,5,6],
                ['Row3',7,8,9]])

pd.DataFrame(data)
pd.DataFrame(data=data[1:4,1:4], columns=data[0,1:4], index=data[1:4,0])

## `Pandas Series` (like dictionary with added functionality ...)

A `Series` is a labeled array (one-dimensional ndarrays with axis-labels) capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index. The data structure is similar to the python dictionary, but it differs in that pandas series has a lot of methods for complex data manipulation.

http://pandas.pydata.org/pandas-docs/stable/dsintro.html#series

You can create a Series by passing a list of values, letting Pandas create a default integer index.

In [ ]:
# Pandas Series with multiple data types
s = pd.Series([1, 3, 5, np.nan, 'seks', 8])
print(s,'\n---------------------')
s = pd.Series(['seks','fem','fire'],[6,5,4]) # in pd.Series we can provide any keys we like to the data
print(s)

## Real world use case
### World bank data: CO2 emissions
For the following example introducing `Series` we will collect some open data from the World Bank, see http://data.worldbank.org/?locations=DK-UY. This dataset includes a plethora of interesting data. However, for this example we will focus on the *CO2 emissions*.
Hint: Find the csv file in the data folder

First, we have to download the data. We do this by writing the response to a request to the World Bank API into a file. As denoted in the response header, we receive a ZIP file.

In [ ]:
import requests

# url = 'http://api.worldbank.org/v2/en/country/DNK;URY' 
# response = requests.get(url, params={'downloadformat': 'csv'})
url = 'http://api.worldbank.org/v2/en/indicator/EN.ATM.CO2E.KT?downloadformat=csv'
response = requests.get(url)

print(response.headers)

In [ ]:
# get the filename
fname = response.headers['Content-Disposition'].split('=')[1]
fname = 'data/'+fname
# write content to file (zip file writing bytes)
if response.ok:  # status_code == 200:
    with open(fname, 'wb') as f:
        f.write(response.content)   
print('-----------------')
print('Downloaded {}'.format(fname))

In [ ]:
%%bash
ls data/API*.zip
# ls -ltrh data | tail
#man ls

You can resort to the standard libraries `zipfile` module to uncompress the downloaded file.

In [ ]:
import zipfile
# extract content of zip file in current folder
zipfile.ZipFile(fname, 'r').extractall('./data')

In [ ]:
!head data/API_EN.ATM.CO2E.KT_DS2_en_csv_v2_1345584.csv

In [ ]:
data = pd.read_csv('data/API_EN.ATM.CO2E.KT_DS2_en_csv_v2_1345584.csv', skiprows=4)
columns_names = data.columns
print('column names:\n',list(columns_names),'\n\n')
countries = data['Country Name']
print('{} countries are in the dataset.'.format(len(countries)),'\n')
print('countries are of data type: ',type(countries),'\n')
print(list(countries))
data[:3]

In [ ]:
# Create a new pandas Series with countries as labels and a random number as values
import random
# random.sample(population, k): returns k random and unique members of the population.
random_val_pr_country = pd.Series(random.sample(range(1,len(countries)+1),len(countries)),index=countries)
random_val_pr_country.sort_values()
#random_val_pr_country.sort_index(level=None, ascending=True, inplace=False, kind='quicksort', na_position='last', sort_remaining=True, ignore_index=False)

In [ ]:
# instansiate Series from dict
new_series = pd.Series(dict({'a':3,'b':6,'c':9}))
new_series

In [ ]:
codes = pd.read_csv('./data/country_codes.csv', sep='\t', header=None)[2]
codes[:3]

## 02 Exercise Pandas Data Series
The CO2 Emission data set above is not updated since 2014
1. Create a Pandas Series with emission data from 2014 for each country or region
2. Find the 10 Countries/Regions with the highest emissions in 2014 and show emission numbers (reverse sorted)
3. Remove if you can those rows that are not countries (regions and aggregated groups) (hint:  [ISO 3166, Alpha-3 country codes](https://www.iban.com/country-codes), a csv file can be found here: `/data/country_codes.csv`)
    - Find the 10 countries with highest emissions in 2014
4. Plot the emissions of China and USA over time respectively

# `DataFrame`

A `DataFrame` is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or **a dict of Series objects**.

In the following we **concatenate** two `Series`to form a `DataFrame`.

We will use pandas concat() method [get a good explanation here](https://www.tutorialspoint.com/python_pandas/python_pandas_concatenation.htm)

In [ ]:
data[['Country Name','2014']]
newData = data[['Country Name','2014']].sort_values('2014', ascending=False)
newData.set_index('Country Name')

In [ ]:
# 2 SERIES
# CO2 data
years = data.columns[4:]
#data.loc[data['Country Name'=='Denmark']]
data.columns
list(data['Country Name'])
ts_dk = data.loc[data['Country Name']=='Denmark'].iloc[0][4:-6]
ts_ury = data.loc[data['Country Name']=='Uruguay'].iloc[0][4:-6]
ts_ury

In [ ]:
# CONCAT
ts = pd.concat([ts_dk, ts_ury], axis=1, keys=['DNK', 'URY']) # axis=0 is default (concats like sql UNION) axis=1 concats the data along the x axis
print(ts[:4])
ts.plot()

More information on `DataFrame`s can be found here:
http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dataframe

Similar to, we can create `DataFrame`s by giving the data for the values and indexes explicitely.

In [ ]:
dates = pd.date_range('20200602', periods=6) # create 6 dates from september 2nd, 2020.
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD')) # use np.random.randn to generate a dataframe of 6 by 4 random numbers
print(dates)
print(df)
#df.describe()

In [ ]:
df.describe()

## 03 Exercise pandas dataframe
1. Using the dataframe in the above cell find:
    1. Mean, Min, Max values for all 4 columns
    2. The 2 dates with the largest and smallest sum (by column)
    3. All dates where both A's and B's are positive

## A few useful pandas methods
1. `df.set_index('Col name here')` set index of a data frame to be one of the columns (must be unique values)
2. `df.sort_values(ascending=False)`
3. `pd.read_csv('../../../data/country_codes.csv', sep='\t', header=None)` 
4. `df['col'].str.strip()` use ds.str.some_method to do string operations on all values in dataframe column (data series)
5. `data[data['Column Name'].isin(some_list)]` Filters all rows to only those where the value in specified column exists in a specified list
6. `filter = as_and_bs[as_and_bs > 0]` Create a filter where all non-validate values is replaced with NaN
7. `filter_na = filter.notna()` create a boolean mask to remove all NaN values
8. `filter_na.any(axis=1)` any() includes all rows where a single True is present
9. `filter_na.all(axis=1)` all() includes only those rows where all cells are True
10. `ds.replace(val1,val2)` replaces all instances of val1 with val2
11. `data[['col1','col2']].apply(pd.to_numeric)` convert all values of collumn 1 and 2 from string to numeric
12. `df['col 3'] = df['col1']/df['col2']` creates a new column in the data frame with the result of dividing each value in column 1 with the equivilent value in column 2
13. `df.groupby(['col1','col3']).sum().reset_index()`
14. `df[df['col name']==some_value]` filter rows based on value
15. merge
16. When data is on different rows for same entity

In [ ]:
# Base data frames
import pandas as pd
data_people = {'Name':['Henning', 'Hassan', 'Helle', 'Harissa'],'Age':[20, 21, 19, 18], 'Phone':[3,2,4,1]} 
data_phones = {'Id':[1,2,3,4],'Number':['+4598877665','+4523344556','+4543543456','+4539105843'],'Description':['Home','Work','Home','Mobile']}
df_people = pd.DataFrame(data_people)
df_phones = pd.DataFrame(data_phones)
df_people

In [ ]:
df_phones

In [ ]:
# 1 set_index
df_phones_new = df_phones.set_index('Number')
df_phones_new

In [ ]:
# after set_index, now we can find by number
df_phones_new.loc['+4523344556']

In [ ]:
# reset the index
df_phones_old = df_phones_new.reset_index()
df_phones_old

In [ ]:
# 2. sort
df_people_sorted = df_people.sort_values('Age',ascending=False)
df_people_sorted

In [ ]:
# 4. use DataSeries .str attribute to apply string methods to a column in a dataframe
df_people['Name'] = df_people['Name'].str.

df_people

In [ ]:
# 5. isin() filters all rows based on whether value is in list
df_phones[df_phones['Number'].isin(['+4598877665','+4543543456'])]

In [ ]:
df_phones
#df_phones[df_phones['Number'].isin(['+4598877665','+4543543456'])]
df_phones_new[df_phones_new.index.isin(['+4598877665','+4543543456'])]

In [ ]:
# 6. filter
df_people_filtered = df_people[df_people['Age'] > 19]
df_people_filtered

In [ ]:
# 7 any()
df = pd.DataFrame({"A":[2,0,1], "B":[1,0,0], "C":[0,0,0]})
df

In [ ]:
df.any() # axis defaults to 0 = rows

In [ ]:
df.any(axis='columns')

In [ ]:
# 11. apply()
age_phone = df_merged[['Age','Phone']].apply(pd.to_numeric)
age_phone

In [ ]:
# 11. apply with lambda (axis=1 means rowwise, axis=0 is columnwise) a row is a dataseries and it has a sum method

df_merged['Summed'] = age_phone.apply(lambda row:row.sum(), axis=1)
df_merged

In [ ]:
# 12. new column
df_merged['new column'] = df_merged['Age']/df_merged['Phone']*100
df_merged

In [ ]:
# 15. merged
df_merged = pd.merge(df_people, df_phones, left_on='Phone', right_on='Id')
df_merged

In [ ]:
# 16. One way to use values on seperate rows
# Find average achivements pr. year
data_people = {'Name':['Henning', 'Henning', 'Harissa', 'Harissa'],'Age':[20, None, 19, None], 'Achievements':[None,40,None,35]} 
df = pd.DataFrame(data_people)
df

In [ ]:
age = df[df['Age'].notnull()]
achieve = df[df['Achievements'].notnull()]
print(age)
average = age['Age']/achieve['Achievements'].tolist() # tolist() is used here because the rows of age and achieve are of different index (alternative: use .reset_index())
result = age.copy()
result['Result'] = average
result[['Name','Result']]

In [ ]:
# 12. groupby
people_account = {'Name':['Henning', 'Hassan', 'Helle', 'Harissa'],'Age':[20, 20, 19, 19], 'Account':[100,200,300,400]} 
df = pd.DataFrame(people_account)
print(df)
# group by age and sum up the Account column (reset index to get a new 0 indexed dataframe)
df.groupby('Age')['Account'].sum().reset_index()

In [ ]:
# boolean filtering example
mask = df_merged['Description'] == 'Home'
df_merged[mask]

## Dataframe to Series and back
Using stack() and unstack() to change a dataframe into a Series and back. If Dataframe has 2 columns, the Series will get 2 (hieracical) indices

In [ ]:
df

In [ ]:
series = df.stack()
print(type(series))
print(series.index)
series

In [ ]:
series.unstack()

## Working with real data
Since we do not want to work on random example data. We will have a look on the **military expenditures** of some countries in the world. We will use this data to exemplify usage of Pandas' `DataFrame` methods.

Again, we will receive the data from the World Bank.
http://data.worldbank.org/indicator/MS.MIL.XPND.CN?locations=DK-CN-US-RU

In [ ]:
import requests

url = 'http://api.worldbank.org/v2/en/indicator/MS.MIL.XPND.CN'

response = requests.get(url, params={'downloadformat': 'csv'})
fname = response.headers['Content-Disposition'].split('=')[1]
print(response.headers)

if response.ok:  # status_code == 200:
    with open(fname, 'wb') as f:
        f.write(response.content)   

print('Downloaded',fname)
#print('Downloaded {}'.format(fname))

In [ ]:
import os
import zipfile

zipfile.ZipFile(fname, 'r').extractall('.')
os.remove(fname)

In [ ]:
%%bash
ls -ltrh | tail

In [ ]:
%%bash
head ./data/Metadata_Indicator_API_MS.MIL.XPND.CN_DS2_en_csv_v2_898165.csv

Now, we use Pandas' `read_csv` function to read the downloaded CSV file directly. Note that we have to skip the first four rows as they do not contain data we are interested in, see keyword argument `skiprows=4`.

Reading the CSV file like this returns a `DataFrame` directly.

In [ ]:
import pandas as pd
expenditure_csv = 'data/API_MS.MIL.XPND.CN_DS2_en_csv_v2_898165.csv'

expenditures = pd.read_csv(expenditure_csv, skiprows=4)
expenditures

## Viewing Data

In [ ]:
expenditures.head()

In [ ]:
expenditures.tail()

In [ ]:
expenditures.index

In [ ]:
expenditures.columns

In [ ]:
expenditures.values

## Selection of Data in a `DataFrame`

### Selection by Column Name

In [ ]:
len(list(expenditures['Country Name']))

In [ ]:
list(expenditures['Country Code'])

### Selection by Indexes

In the following we index the third row directly.

In [ ]:
# get row 3
albania = expenditures.iloc[3]
print(albania)

In [ ]:
# using .loc to extract by label (row or column)
expenditures.loc[3]

In [ ]:
expenditures.iloc[3:5]

In [ ]:
# extract sub set of [rows,columns]
expenditures.iloc[3:5, 4:]

## Boolean Indexing

Similar to NumPy, you can use boolean arrays for indexing. That is, you can use boolean expressions directly for indexing.

In the following we assign `expenditures` to `df`as the latter is shorter.

In [ ]:
df = expenditures

Using the `isin()` method for filtering:

In [ ]:
df[df['Country Name'].isin(['United States', 'China', 'Denmark', 'Russian Federation'])]

Here, we create a `DataFrame` of all country codes for the four countries, which we want to study further in the following.

In [ ]:
# get indices for the 4 countries in question:
c_codes = df[df['Country Name'].isin(['United States', 'China', 
                                        'Denmark', 'Russian Federation'])]['Country Code']
c_codes

We cannot plot the time series of military expenditures directly in a meaningful way as we would like to have the years on the y-axis but in the selection of our `DataFrame`, the year numbers are column names. Consequently, we have to transpose our `DataFrame`, see `T` function.

Note, that the expenditures are given in `LUC` in the World Bank data set. That is, in currency of the corresponding country.

In [ ]:
import matplotlib.pyplot as plt

# get only the 4 countries from df and only cols: 31-end (only 1987 and up)
#print(df.iloc[c_code_df.index,31:-1])
ts_df = df.iloc[c_codes.index, 31:-1]
print(ts_df)
ts_df = ts_df.T
print(ts_df)
ts_df = ts_df.rename(columns=dict(c_codes))
print(ts_df)
ts_df
ts_df.plot()

Since this plot may be a bit misleading, we will 'normalize' all expeditures to Euro, so that they are better comparible.

In [ ]:
import requests


# http://www.ecb.europa.eu/stats/policy_and_exchange_rates/euro_reference_exchange_rates/html/index.en.html#dev
response = requests.get('http://www.ecb.europa.eu/stats/eurofxref/eurofxref-daily.xml')
response.text

In [ ]:
from bs4 import BeautifulSoup
# Will be covered in week 7 on webscraping

xml = BeautifulSoup(response.text, 'html.parser')
rate_list = xml.cube.cube.findAll("cube") # [0]['rate']
print(xml.cube)

In [ ]:


currency = ['USD', 'DKK', 'RUB', 'CNY']
rate_dict = dict.fromkeys(currency) # create a new dict with given keys
#print(rate_dict)
for element in rate_list:
    if element['currency'] in currency:
        rate_dict[element['currency']] = float(element['rate'])
        print(element['rate'])
rate_dict

In [ ]:
# get all weapons expenditure in euros
ts_df['DNK'] = ts_df['DNK'] / rate_dict['DKK']
ts_df['USA'] = ts_df['USA'] / rate_dict['USD']
ts_df['CHN'] = ts_df['CHN'] / rate_dict['CNY']
ts_df['RUS'] = ts_df['RUS'] / rate_dict['RUB']
ts_df.plot()

**OBS!!!** Be careful, the graph above is still not really well suited for comparison as currency exchange rates are not fix. However, the code above normalizes just relying on the most current exchange rate from the European Central Bank. See the exercise block in the bottom for how to fix that isuue!

## Sorting dataframes

In case you have to sort the data in your `DataFrames` see the methods `sort_index` and `sort_values`.


```python
df.sort_index(axis=1, ascending=True)
df.sort_values(by='Country Code')
```

In [ ]:
df.sort_index?

In [ ]:
df.sort_values?

## 04 Class Exercise
#### Find military expenditure pr. capita.

Go here and get data as csv: [worldbank military expanditure](https://databank.worldbank.org/reports.aspx?source=2&series=MS.MIL.XPND.CD&country=#). Download it manually, unzip the csv and clean up empty rows.  
1. Use .replace() method on the dataframe to remove all data containing '..'
2. Set index of the dataframe to be 'Country Name'
3. Slice the 2019 column data to get a data series.
4. Make data numeric (pd.to_numeric(data_series))

1. For 2019 find the 10 countries with the highest military expenditure in USD
2. For 2019 find the 10 countries with the highest military expenditure per capita. Find the population data here: [worldbank](https://databank.worldbank.org/source/world-development-indicators/preview/on#)(use series='Population,Total' and time='2019' and Country= countries (217)) **or** use [copy paste with this date into excel](https://www.worldometers.info/world-population/population-by-country/)
  - (Hint: use pd.merge() to merge the mil_exp dataframe with the population dataframe on 2 columns (country_code)
3. For 2019 find the 3 countries with the highest per capita military expenditure in the middle east
  - [countries list with iso code](middleeast_countries.csv) or use:   
  `list_of_middle_eastern = ['YEM','ARE','TUR','SYR','SAU','QAT','PSE','OMN','LBN','KWT','JOR','ISR','IRQ','IRN','EGY','CYP','BHR']`


## Self study exercise

Complete the comparison of military expenditures by converting all currencies to USD. Since we have yearly expenditures, use for example the yearly median for normalization. Likely, you will find an API to collect historical echange rates at Yahoo Finance.

[https://finance.yahoo.com/quote/USDRUB%3DX](https://finance.yahoo.com/quote/USDRUB%3DX)

In [ ]:
pd.read_csv('https://api.statbank.dk/v1/data/FOLK1A/CSV?delimiter=Semicolon&OMR%C3%85DE=*&K%C3%98N=*&ALDER=IALT&CIVILSTAND=TOT',sep=';')

## Plotting bar chart
```python

df = pd.DataFrame(np.random.rand(6, 4),
     index=['one', 'two', 'three', 'four', 'five', 'six'],
     columns=pd.Index(['A', 'B', 'C', 'D'], name='Genus'))
df.plot.bar()
```

In [ ]:
import numpy as np
df = pd.DataFrame(np.random.rand(6, 4),
     index=['one', 'two', 'three', 'four', 'five', 'six'],
     columns=pd.Index(['A', 'B', 'C', 'D'], name='Genus'))
df.plot.bar()
df

In [ ]:
df.plot.barh(stacked=True, alpha=0.5)

## Group by

In [ ]:
 df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
     'key2' : ['one', 'two', 'one', 'two', 'one'],
     'data1' : np.random.randn(5),
     'data2' : np.random.randn(5)})
df

In [ ]:
grouped = df['data1'].groupby(df['key1'])
grouped2 = df['data1'].groupby([df['key1'], df['key2']])
grouped

In [ ]:
print('mean:\n',grouped.mean())
print('max:\n',grouped.max())
print('sum:\n',grouped.sum())
print()
print('grouped2:\n ', grouped2.sum()) # creates a hierachical indexed series
print('indices:\n',grouped2.sum().index)

## Grouping with dict and series

In [ ]:
people = pd.DataFrame(np.random.randn(5, 5),
columns=['a', 'b', 'c', 'd', 'e'],
index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
people.iloc[2:3, [1, 2]] = np.nan # Add a few NA values
people

In [ ]:
# its ok to have extra (unused) keys in the dict like 'f' below:
mapping = {'a': 'red', 'b': 'red', 'c': 'blue', 'd': 'blue', 'e': 'red', 'f' : 'orange'}
by_column = people.groupby(mapping, axis=1)
by_column.sum()

## Grouping with functions

In [ ]:
#group by the result of the len() function
people.groupby(len).sum()

In [ ]:
# Mixing functions with arrays, dicts, or Series is not a problem as everything gets converted to arrays internally
key_list = ['one', 'one', 'one', 'two', 'two']
people.groupby([len, key_list]).min()